<!DOCTYPE html>
<html>
    <head>
        <!-- <link rel="stylesheet" href="http://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"> -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/style.css">
    </head>
        <body>
          <container>
            <div class="row">
              <div class="col-xs-4"> 
            <div class="textpos">
                <div style="display:inline;">
                    <!-- <img src="blocks.png"/ -->
                    <p>SCHOOL'S COPY<img src="blocks.jpg" align="right"></p>
                </div>
            </div>
       
            <div>
               
            <h4 class="font-weight-bold text-center textpos1" >CUSTOMER CODE: BUILD</h4>
            <h5 class="text-center">PAYABLE TO ANY MEEZAN BANK BRANCH PAKISTAN</h5>
            </div>
            <!-- <div>
                
                <h5 class="textmargin">NAME:</h5>
                <h5>FATHER's NAME:</h5>
                <h5>GRADE:</h5>
                <h5>ROLL NO:</h5>
                <h5>VOUCHER NO:</h5>
                <h5>FEE PERIOD:</h5>
                <h5>ISSUE DATE:</h5>
                <h5>DUE DATE:</h5>

            </div> -->
            <table class=" textmargin table table-borderless">
                <tbody>
                  <tr>
                    <th scope="row">NAME:</th>
                    <td><%=details.NAME%></td>
                  </tr>
                  <tr>
                    <th scope="row">FATHER'S NAME:</th>
                    <td><%=details.FATHERNAME%></td>
                    
                  </tr>
                  <tr>
                    <th scope="row">GRADE:</th>
                    <td ><%=details.GRADE%></td>
                  
                  </tr>
                  <tr>
                    <th scope="row">ROLL NO:</th>
                    <td ><%=details.ROLLNO%></td>
                 
                  </tr>
                  <tr>
                    <th scope="row">VOUCHER NO:</th>
                    <td ><%=details.VOUCHER%></td>
                   
                  </tr>
                  <tr>
                    <th scope="row">FEE PERIOD:</th>
                    <td >Feb-19</td>
                    
                  </tr>
                  <tr>
                    <th scope="row">ISSUE DATE:</th>
                    <td ><%=details.ISSUE%></td>
              
                  </tr>
                  <tr>
                    <th scope="row">DUE DATE:</th>
                    <td><%=details.DUE%></td>
                    
                  </tr>
                </tbody>
              </table>
           
                <table class="table">
                    <thead>
                      <tr>
                        <th class="text-center" scope="col">PARTICULER</th>
                        <th scope="col">AMOUNT</th>
                       
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">Tution FEE</th>
                        <td><%=details.TF%></td>
                        
                      </tr>
                      <tr>
                        <th scope="row">FIELD TRIP CHARGES</th>
                        <td>200</td>
                      </tr>
                      <tr>
                        <th scope="row">UNIFORM CHARGES</th>
                        <td>2,000</td>
                      </tr>
                      <tr>
                        <th scope="row">BOOKS</th>
                        <td>400</td>
                      </tr>
                      <tr>
                        <th scope="row">ARREAS</th>
                        <td>-</td>
                      </tr>
                      <tr>
                        <th scope="row">ADVANCE TAX 5%</th>
                        <td>875</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
            <div class="col-xs-4">
              <div class="textpos">
                <div style="display:inline;">
                    <!-- <img src="blocks.png"/ -->
                    <p>BANK'S COPY<img src="blocks.jpg" align="right"></p>
                </div>
            </div>
       
            <div>
               
            <h4 class="font-weight-bold text-center textpos1" >CUSTOMER CODE: BUILD</h4>
            <h5 class="text-center">PAYABLE TO ANY MEEZAN BANK BRANCH PAKISTAN</h5>
            </div>
            <!-- <div>
                
                <h5 class="textmargin">NAME:</h5>
                <h5>FATHER's NAME:</h5>
                <h5>GRADE:</h5>
                <h5>ROLL NO:</h5>
                <h5>VOUCHER NO:</h5>
                <h5>FEE PERIOD:</h5>
                <h5>ISSUE DATE:</h5>
                <h5>DUE DATE:</h5>

            </div> -->
            <table class=" textmargin table table-borderless">
              <tbody>
                <tr>
                  <th scope="row">NAME:</th>
                  <td><%=details.NAME%></td>
                </tr>
                <tr>
                  <th scope="row">FATHER'S NAME:</th>
                  <td><%=details.FATHERNAME%></td>
                  
                </tr>
                <tr>
                  <th scope="row">GRADE:</th>
                  <td ><%=details.GRADE%></td>
                
                </tr>
                <tr>
                  <th scope="row">ROLL NO:</th>
                  <td ><%=details.ROLLNO%></td>
               
                </tr>
                <tr>
                  <th scope="row">VOUCHER NO:</th>
                  <td ><%=details.VOUCHER%></td>
                 
                </tr>
                <tr>
                  <th scope="row">FEE PERIOD:</th>
                  <td>Feb-19</td>
                  
                </tr>
                <tr>
                  <th scope="row">ISSUE DATE:</th>
                  <td><%=details.ISSUE%></td>
            
                </tr>
                <tr>
                  <th scope="row">DUE DATE:</th>
                  <td><%=details.DUE%></td>
                  
                </tr>
              </tbody>
            </table>
            
            
             
            <div>
                <table class="table">
                    <thead>
                      <tr>
                        <th class="text-center" scope="col">PARTICULER</th>
                        <th scope="col">AMOUNT</th>
                       
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">Tution FEE</th>
                        <td>Mark</td>
                        
                      </tr>
                      <tr>
                        <th scope="row">FIELD TRIP CHARGES</th>
                        <td>Jacob</td>
                      </tr>
                      <tr>
                        <th scope="row">UNIFORM CHARGES</th>
                        <td>Larry</td>
                      </tr>
                      <tr>
                        <th scope="row">BOOKS</th>
                        <td>Larry</td>
                      </tr>
                      <tr>
                        <th scope="row">ARREAS</th>
                        <td>Larry</td>
                      </tr>
                      <tr>
                        <th scope="row">ADVANCE TAX 5%</th>
                        <td>Larry</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
            </div>
            <div class="col-xs-4">
              <div class="textpos">
                <div style="display:inline;">
                    <!-- <img src="blocks.png"/ -->
                    <p>PARENT'S COPY<img src="blocks.jpg" align="right"></p>
                </div>
            </div>
       
            <div>
               
            <h4 class="font-weight-bold text-center textpos1" >CUSTOMER CODE: BUILD</h4>
            <h5 class="text-center">PAYABLE TO ANY MEEZAN BANK BRANCH PAKISTAN</h5>
            </div>
            <!-- <div>
                
                <h5 class="textmargin">NAME:</h5>
                <h5>FATHER's NAME:</h5>
                <h5>GRADE:</h5>
                <h5>ROLL NO:</h5>
                <h5>VOUCHER NO:</h5>
                <h5>FEE PERIOD:</h5>
                <h5>ISSUE DATE:</h5>
                <h5>DUE DATE:</h5>

            </div> -->
            <table class=" textmargin table table-borderless">
              <tbody>
                <tr>
                  <th scope="row">NAME:</th>
                  <td><%=details.NAME%></td>
                </tr>
                <tr>
                  <th scope="row">FATHER'S NAME:</th>
                  <td><%=details.FATHERNAME%></td>
                  
                </tr>
                <tr>
                  <th scope="row">GRADE:</th>
                  <td ><%=details.GRADE%></td>
                
                </tr>
                <tr>
                  <th scope="row">ROLL NO:</th>
                  <td ><%=details.ROLLNO%></td>
               
                </tr>
                <tr>
                  <th scope="row">VOUCHER NO:</th>
                  <td ><%=details.VOUCHER%></td>
                 
                </tr>
                <tr>
                  <th scope="row">FEE PERIOD:</th>
                  <td >Feb-19</td>
                  
                </tr>
                <tr>
                  <th scope="row">ISSUE DATE:</th>
                  <td ><%=details.ISSUE%></td>
            
                </tr>
                <tr>
                  <th scope="row">DUE DATE:</th>
                  <td ><%=details.DUE%></td>
                  
                </tr>
              </tbody>
            </table>
            <div>
                <table class="table">
                    <thead>
                      <tr>
                        <th class="text-center" scope="col">PARTICULER</th>
                        <th scope="col">AMOUNT</th>
                       
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">Tution FEE</th>
                        <td>Mark</td>
                        
                      </tr>
                      <tr>
                        <th scope="row">FIELD TRIP CHARGES</th>
                        <td>Jacob</td>
                      </tr>
                      <tr>
                        <th scope="row">UNIFORM CHARGES</th>
                        <td>Larry</td>
                      </tr>
                      <tr>
                        <th scope="row">BOOKS</th>
                        <td>Larry</td>
                      </tr>
                      <tr>
                        <th scope="row">ARREAS</th>
                        <td>Larry</td>
                      </tr>
                      <tr>
                        <th scope="row">ADVANCE TAX 5%</th>
                        <td>Larry</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
            </div>
        </div>
        
      </container>
       
            <script src="http://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
            <script src="http://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        </body>
 
</html>